body {
    background-color: #ffecec;
    font-family: Arial, sans-serif;
   
}



header {
    background: linear-gradient(to right, #EAA7A7, #845E5E);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 48px;
    
}



footer{
    display: flex;
    background: linear-gradient(to right, #EAA7A7, #845E5E);
    text-align: center;
    
}




